/*
 * Plugin Name: Posts From Tag
 * Version: 1.0.0
 * Plugin URI: https://gitlab.com/jorge-vitrubio/posts-from-tag
 * Description: Plugin to display posts from specific tag. It comes with multiple layout option to display post list. Option to select tag or exclude post is available wgich provide advance filter to your requirement. You can enable or disable posted date, thumbnail, read more button and more easily from widget.
 * Author: Jorge - vitrubio.net
 * Author URI: https://vitrubio.net/
 * Original Author: Manesh Timilsina
 * Original Author URI: https://wpmanesh.com/
 * License: GNU/GPL http://www.gnu.org/copyleft/gpl.html
 */

 .pft-posts-main{
    margin-bottom: 10px;
 }

.pft-posts-main .pft-post {
    float: none;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: top;
    margin-left: -3px;
    position: relative;
    margin-bottom: 20px;
}

.pft-posts-main .pft-post .news-text-wrap {
    padding-top: 10px;
}

.pft-posts-main .pft-post .news-text-wrap h2 {
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 0;
}

.pft-posts-main .pft-post {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.pft-posts-main .pft-post .news-text-wrap p,
.pft-posts-main .news-text-wrap .read-more {
    margin-bottom: 0px;
    margin-top: 5px;
}

.pft-posts-main .news-text-wrap .posted-date,
.pft-posts-main .news-text-wrap .read-more{
    display: inline-block;
    width: 100%;
}

.pft-posts-main .pft-post:last-child {
    margin-bottom: 0px;
}

.pft-posts-main .news-thumb a img {
	max-width: 100%;
	height: auto;
}

/* layout one css starts */
.pft-posts-main .pft-post.layout-one .news-thumb {
    float: left;
    width: 115px;
    position: absolute;
}

.pft-posts-main .layout-one .news-text-wrap {
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 135px;
    min-height: 80px;
}

.pft-posts-main .layout-one .news-text-wrap.info-without-space{
    padding-left: 0px;
}

/* layout two css starts */
.pft-posts-main .pft-post.layout-two .news-thumb {
    width: 100%;
}
